@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body{
        @apply text-black;
    }

    li::marker  {
        @apply text-red-500;
    }

    button:disabled{
        pointer-events: none;
        border-color: #C4C4C4;
        color: #C4C4C4;
    }

    .transition-item-enter {
        opacity: 0;
    }
    .transition-item-enter-active {
        opacity: 1;
        transition: opacity 500ms ease-in;
    }
    .transition-item-exit {
        opacity: 1;
    }
    .transition-item-exit-active {
        opacity: 0;
        transition: opacity 500ms ease-in;
    }
}
